html {
  font-size: 18px;
}
body {
  color:black;
  font-family: "Questrial", sans-serif;
  background-color: #b9a3e3;
  background-image: linear-gradient(
      45deg,
      #6441a5 25%,
      transparent 25%,
      transparent 75%,
      #6441a5 75%,
      #6441a5
    ),
    linear-gradient(
      -45deg,
      #6441a5 25%,
      transparent 25%,
      transparent 75%,
      #6441a5 75%,
      #6441a5
    );
  background-size: 60px 60px;
  background-position: 0 0;
  animation: slide 4s infinite linear;
}


@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -120px 60px;
  }
}


img {
  border-radius: 50%;
}

div.reactImage {
    display: block;
    width: 500px;
    height: 500px;
	margin-bottom: 25px;
    background: #E6E7ED;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
}

div.reactImage>img {
   max-height: 100%;
   max-width: 100%;
}


footer {
  text-align: center;
  padding: 3px;
  background-color: #b9a3e3;
  color: white;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;

}

.modal {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding:8rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.msg {
  font-size:3.0rem;
  margin-bottom: 3.0rem;
  margin-top: 0;
}
.btn {
  color:inherit;
  font-family:inherit;
  font-size: 2.0rem;
  background: white;
  padding: 2rem 3.8rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.btn:last-child {
  margin: 0;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}